.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  background-color: #23A6F0;
  border-radius: 37px;
  padding: 15px 37px;
  color: #FFFFFF;
  cursor: pointer; }
  .button_white {
    background-color: #FFFFFF;
    border-radius: 37px;
    padding: 15px 37px;
    color: #23A6F0;
    border: 1px solid #23A6F0; }
  .button--rectangle {
    border-radius: 5px; }

.container {
  max-width: 1050px;
  margin: 0 auto; }
  .container__news {
    max-width: 100%;
    margin: 0 15px; }

.card {
  border: 1px solid #DEDEDE;
  background-color: #FFFFFF;
  border-radius: 5px; }

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42; }

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAFAFA; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px; }
  .header_position {
    margin-top: 16px; }
  .header__logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; }
  .header__menu {
    display: flex;
    max-width: 280px; }
  .header__item {
    margin-right: 21px; }
  .header__login {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #23A6F0;
    margin-right: 45px;
    cursor: pointer; }
  .header-login {
    display: flex;
    align-items: center; }
  .header__button {
    padding: 15px 25px;
    background-color: #23A6F0;
    border-radius: 5px; }
    .header__button-text {
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      color: white;
      margin-right: 15px; }

.menu {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px; }
  .menu__item {
    color: #737373; }

.main_position {
  margin-top: 15%;
  padding-bottom: 25%;
  display: flex;
  z-index: 999; }

.main__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
  max-width: 509px;
  margin-bottom: 35px; }

.main__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 376px; }

.main__buttons {
  margin-top: 35px; }

.main__button {
  margin-right: 10px; }

.cerclebg {
  position: absolute;
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  width: 209px;
  height: 285px;
  top: 85px;
  z-index: -1; }

.phonebg {
  position: absolute;
  background-image: url("../img/phone-bg.png");
  width: 689px;
  height: 644px;
  right: 100px;
  top: 90px;
  background-repeat: no-repeat;
  z-index: -999; }

.strategy {
  background-color: #FFFFFF; }
  .strategy__title {
    max-width: 445px;
    padding-top: 160px;
    margin: 0 auto 10px auto; }
  .strategy__description {
    max-width: 470px;
    margin: 0 auto 80px auto; }
  .strategy__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px; }
  .strategy__card {
    padding: 30px 40px;
    width: 250px;
    text-align: center;
    background-color: #FAFAFA; }
    .strategy__card_blue {
      background-color: #23A6F0; }
    .strategy__card-img {
      text-align: center;
      margin-bottom: 10px; }
    .strategy__card-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #252B42; }
      .strategy__card-text_white {
        color: #FFFFFF; }

.reviews__title {
  margin: 112px 0 10px 0; }

.reviews__description {
  max-width: 470px;
  margin: 0 auto 80px auto; }

.reviews__cards {
  display: flex;
  justify-content: space-between;
  grid-gap: 30px;
  margin-bottom: 112px; }

.reviews__card {
  width: 327px;
  height: 180px;
  padding: 30px 40px 30px 35px; }
  .reviews__card-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 20px;
    max-width: 280px; }
  .reviews__card-author {
    display: flex; }
    .reviews__card-author-avatar {
      margin-right: 15px; }
    .reviews__card-author-description {
      display: flex;
      flex-direction: column; }
    .reviews__card-author-name {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #23A6F0; }
    .reviews__card-author-job {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px; }

.reviews__rating {
  margin-bottom: 20px; }

.news__title {
  padding-top: 112px;
  margin-bottom: 10px; }
  @media (max-width: 512px) {
    .news__title {
      max-width: 301px;
      margin: 0 auto; } }

.news__description {
  width: 470px;
  margin: 0 auto; }
  @media (max-width: 512px) {
    .news__description {
      max-width: 298px; } }
  @media (max-width: 320px) {
    .news__description {
      width: auto; } }

.news__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 30px;
  margin-top: 96px;
  margin-bottom: 112px; }
  @media (max-width: 762px) {
    .news__cards {
      flex-direction: column; } }

.news__card {
  width: 331px;
  height: 452px; }
  @media (max-width: 762px) {
    .news__card {
      max-width: 331px;
      height: 452px; } }

.news__bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat; }
  .news__bg_1 {
    background-image: url(../img/news-bg-1.jpg); }
  .news__bg_2 {
    background-image: url(../img/news-bg-2.jpg); }
  .news__bg_3 {
    background-image: url(../img/news-bg-3.jpg); }
  .news__bg_4 {
    background-image: url(../img/news-bg-4.jpg); }

.news__content {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px; }

.news__topic {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF; }

.news__subtopic {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-top: 15px; }

.news__button {
  width: calc(195px - (36px + 36px));
  padding: 10px 36px;
  margin-top: 15px;
  margin-bottom: 45px; }

.pricing {
  padding-top: 112px;
  padding-bottom: 112px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px; }
  .pricing__title {
    margin-bottom: 10px; }
  .pricing__description {
    max-width: 470px;
    width: 100%;
    margin: 0 auto 80px;
    padding: 0 25px;
    text-align: center; }
  .pricing__cards {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 30px; }
    @media (max-width: 1100px) {
      .pricing__cards {
        flex-direction: column;
        align-items: center; } }
    @media (max-width: 414px) {
      .pricing__cards {
        gap: 60px; } }
  .pricing-card {
    max-width: 327px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    border: 1px solid #DEDEDE;
    background-color: #FFFFFF; }
    @media (max-width: 414px) {
      .pricing-card {
        padding: 50px 40px;
        margin: 0 15px;
        border: #FAFAFA; } }
    .pricing-card__rate {
      margin-bottom: 35px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: #252B42; }
    .pricing-card__chevron {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 29px 16px;
      border-radius: 50%;
      background-color: #E77C40;
      top: -26px;
      right: 16.5px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: #FFFFFF; }
    .pricing-card__description {
      margin-bottom: 35px;
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #737373; }
    .pricing-card__price {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 35px;
      font-weight: 700;
      font-size: 40px;
      line-height: 57px;
      color: #23A6F0; }
    .pricing-card__value {
      justify-self: end; }
    .pricing-card__subscription {
      grid-column-start: 1;
      grid-column-end: 3;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #8EC2F2; }
    .pricing-card__mobile-wrapper {
      display: flex;
      flex-direction: column; }
      @media (max-width: 414px) {
        .pricing-card__mobile-wrapper {
          flex-direction: column-reverse; } }
    .pricing-card__button {
      margin-bottom: 35px; }
      @media (max-width: 414px) {
        .pricing-card__button {
          margin-top: 35px;
          margin-bottom: 0; } }
    .pricing-card__features-item {
      display: flex;
      align-items: flex-start; }
      .pricing-card__features-item:not(:last-child) {
        margin-bottom: 15px; }
    .pricing-card__cheked {
      display: inline-block;
      margin-right: 10px;
      min-width: 32px;
      height: 32px;
      background-color: #2DC071;
      border-radius: 50%;
      background-image: url(../img/cheked.svg);
      background-repeat: no-repeat;
      background-position: center; }
      .pricing-card__cheked--not-active {
        background-color: #BDBDBD; }
