*
  margin: 0
  padding: 0
  box-sizing: border-box

  ::before,
  ::after
    box-sizing: border-box

body
  font-family: 'Montserrat', sans-serif
  background-color: $bg-light

a
  text-decoration: none

  &:hover,
  &:active
    box-shadow: 0 2px 0 0 $blue

  &:focus
    background-color: $dark
    color: $white

ul
  list-style-type: none
