*
  margin: 0
  padding: 0
  box-sizing: border-box

  ::after
    box-sizing: border-box

  ::before
    box-sizing: border-box

body
  font-family: 'Montserrat', sans-serif
  background-color: $bg-light
a
  text-decoration: none
ul
  list-style-type: none
