.get-touch
  padding-top: 80px
  padding-bottom: 80px
  background-color: $dark

  &__content
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 40px

    @media (max-width: 930px)
      flex-direction: column

    @media (max-width: 930px)
      padding: 0 20px

    @media (max-width: 352px)
      padding: 0 10px

  &__left
    max-width: 439px

  &__title
    font-weight: bold
    font-size: 40px
    line-height: 57px
    letter-spacing: 0.2px
    color: $white

    @media (max-width: 930px)
      font-weight: 700
      font-size: 24px
      line-height: 32px
      text-align: center
      letter-spacing: 0.1px
      margin-bottom: 30px

  &__description
    font-weight: 500
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.2px
    color: $white

    @media (max-width: 930px)
      display: none

  &__input
    position: relative
    display: inline-block
    font-size: 14px
    box-sizing: border-box
    transition: 0.5s

    &-email
      width: 270px
      height: 58px
      border: none
      outline: none
      padding: 15px 20px
      border-radius: 5px 0 0 5px
      font-weight: normal
      font-size: 14px
      letter-spacing: 0.2px
      color: $grey

      @media (max-width: 472px)
        width: 190px

      @media (max-width: 352px)
        width: 170px

    &-button
      position: relative
      left: -5px
      border-radius: 0 5px 5px 0
      width: 117px
      height: 58px
      border: none
      outline: none
      cursor: pointer
      color: $white
      background-color: $blue
      font-size: 14px
      letter-spacing: 0.2px
      font-weight: normal
