.get-touch
  padding-top: 80px
  padding-bottom: 80px
  background-color: $dark

  &__content
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 40px

    @media (max-width: 980px)
      flex-direction: column
      padding: 0 20px

    @media (max-width: 352px)
      padding: 0 10px

  &__info
    max-width: 439px

  &__title
    font-weight: bold
    font-size: 40px
    line-height: 57px
    letter-spacing: 0.2px
    color: $white

    @media (max-width: 980px)
      font-weight: 700
      font-size: 24px
      line-height: 32px
      text-align: center
      letter-spacing: 0.1px
      margin-bottom: 30px

  &__description
    font-weight: 500
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.2px
    color: $white

    @media (max-width: 980px)
      display: none

  &__border
    height: 58px
    padding: 1px 1px
    border-radius: 5px
    background-color: $white

  &__email
    padding: 20px
    width: 65%
    max-width: 270px
    border: none
    border-top-left-radius: 5px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-bottom-left-radius: 5px
    font-weight: normal
    font-size: 14px
    letter-spacing: 0.2px
    color: $grey

    // @media (max-width: 472px)
    //   width: 190px

    // @media (max-width: 352px)
    //   width: 170px

  &__button
    width: 117px
    padding: 15px 23px
    border-top-left-radius: 0
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 0
    border: none
    cursor: pointer
    color: $white
    background-color: $blue
    font-size: 14px
    line-height: 28px
    letter-spacing: 0.2px
    font-weight: 400
