.top-footer
  padding: 80px 0
  background-color: $white

  &__content
    display: flex
    grid-gap: 30px
    padding: 0 87px

    @media (max-width: 1100px)
      flex-flow: wrap
      justify-content: space-between

  &__title
    margin-bottom: 20px
    font-weight: bold
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.1px
    color: $dark

    &--first
      margin-bottom: 25px

  &__description
    margin-bottom: 25px
    font-weight: 500
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.2px
    color: $grey

  &__social
    display: flex
    align-items: center

  &__social-item:not(:last-child)
    margin-right: 20.5px

  &__item
    margin-bottom: 10px
    font-weight: 600
    font-size: 14px
    line-height: 24px
    letter-spacing: 0.2px
    color: $grey

  &__card
    max-width: 241px
    width: 100%
