.button
  display: inline-block
  font-family: inherit
  font-weight: 700
  font-size: 14px
  line-height: 22px
  text-align: center
  letter-spacing: 0.2px
  border: none
  background-color: $blue
  border-radius: 37px
  padding: 15px 37px
  color: $white
  cursor: pointer

  &:hover,
  &:active
    background-color: $dark

  &:focus
    outline: none
    box-shadow: 0 0 0 3px lightskyblue

  &--white
    background-color: $white
    border: 1px solid $blue
    border-radius: 37px
    padding: 15px 37px
    color: $blue
    cursor: pointer

    &:hover,
    &:active
      background-color: $dark
      border: 1px solid $dark
      color: $white

  &--rectangle
    border-radius: 5px
