.button
    font-weight: 700
    font-size: 14px
    line-height: 22px
    text-align: center
    letter-spacing: 0.2px
    background-color: $blue
    border-radius: 37px
    padding: 15px 37px
    color: $white
    cursor: pointer
    &_white
        background-color: $white
        border-radius: 37px
        padding: 15px 37px
        color: $blue
        border: 1px solid $blue
    &--rectangle
      border-radius: 5px
