.news
  padding-top: 112px
  padding-bottom: 112px

  &__title
    margin-bottom: 10px

    @media (max-width: 768px)
      padding: 0 100px
      margin-bottom: 30px

    @media (max-width: 512px)
      padding: 0 25px

  &__description
    margin: 0 auto 96px
    width: 470px

    @media (max-width: 768px)
      margin-bottom: 60px

    @media (max-width: 512px)
      max-width: 298px

    @media (max-width: 350px)
      max-width: 270px
      padding: 0 20px

  &__cards
    display: flex
    justify-content: space-between
    align-items: center
    align-items: stretch
    gap: 30px
    padding: 0 15px
    margin: 0 auto
    max-width: 1400px

    @media (max-width: 1212px)
      gap: 20px
      justify-content: space-around
      flex-wrap: wrap

    @media (max-width: 580px)
      max-width: 580px
      margin: 0 auto 112px auto
      padding: 0 15px

  &__card
    position: relative
    width: 331px
    min-height: 452px
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 20px
    background-size: cover
    background-repeat: no-repeat
    z-index: 1

    @media (max-width: 762px)
      max-width: 331px
      min-height: 452px

    @media (max-width: 580px)
      max-width: 290px

  &__card::before
    content: ''
    position: absolute
    left: 0px
    right: 0px
    top: 0px
    bottom: 0px
    z-index: -1
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%)

  &__bg
    background-repeat: no-repeat

    &_1
      background-image: url("../img/news-bg-1.jpg")

    &_2
      background-image: url("../img/news-bg-2.jpg")

    &_3
      background-image: url("../img/news-bg-3.jpg")

    &_4
      background-image: url("../img/news-bg-4.jpg")

  &__topic
    margin-bottom: 15px
    font-weight: 600
    font-size: 14px
    line-height: 24px
    letter-spacing: 0.2px
    color: $white

  &__subtopic
    margin-bottom: 15px
    font-weight: 500
    font-size: 20px
    line-height: 30px
    letter-spacing: 0.2px
    color: $white

    @media (max-width: 711px)
      font-weight: 700
      font-size: 20px
      line-height: 32px

  &__button
    display: flex
    align-self: flex-start
    padding: 10px 36px
