.pricing
  padding-top: 112px
  padding-bottom: 112px
  font-weight: 600
  font-size: 14px
  line-height: 24px
  letter-spacing: 0.2px

  &__title
    margin-bottom: 10px

  &__description
    max-width: 470px
    width: 100%
    margin: 0 auto 80px
    padding: 0 25px
    text-align: center

    @media (max-width: 414px)
      margin: 0 auto 60px

  &__cards
    display: flex
    justify-content: space-between
    flex-flow: wrap
    gap: 30px

    @media (max-width: 1100px)
      flex-direction: column
      align-items: center

    @media (max-width: 414px)
      gap: 60px

  &-card
    max-width: 327px
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    padding: 50px 40px
    border: 1px solid $light-gray
    background-color: $white

    @media (max-width: 414px)
      padding: 50px 40px
      margin: 0 15px
      border: $bg-light

    &__rate
      margin-bottom: 35px
      text-transform: uppercase
      font-weight: 700
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.1px
      color: $dark

    &__chevron
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      padding: 29px 16px
      border-radius: 50%
      background-color: $orange
      top: -26px
      right: 16.5px
      font-weight: 700
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.1px
      color: $white

    &__description
      margin-bottom: 35px
      font-weight: 700
      font-size: 16px
      text-align: center
      letter-spacing: 0.1px
      color: $grey

    &__price
      display: grid
      grid-template-columns: repeat(2, 1fr)
      margin-bottom: 35px
      font-weight: 700
      font-size: 40px
      line-height: 57px
      color: $blue

    &__value
      justify-self: end

    // &__currency


    &__subscription
      grid-column-start: 1
      grid-column-end: 3
      font-weight: bold
      font-size: 16px
      line-height: 24px
      letter-spacing: 0.1px
      color: #8EC2F2

    &__mobile-wrapper
      display: flex
      flex-direction: column

      @media (max-width: 414px)
        flex-direction: column-reverse

    &__button
      margin-bottom: 35px

      @media (max-width: 414px)
        margin-top: 35px
        margin-bottom: 0

    &__features-item
      display: flex
      align-items: flex-start

      &:not(:last-child)
        margin-bottom: 15px

    &__cheked
      display: inline-block
      margin-right: 10px
      min-width: 32px
      height: 32px
      background-color: $green
      border-radius: 50%
      background-image: url(../img/cheked.svg)
      background-repeat: no-repeat
      background-position: center

      &--not-active
        background-color: $not-active
