.pricing
  padding-top: 112px
  padding-bottom: 141px

  &__header
    margin: 0 auto

  &__description
    max-width: 470px
    margin: 0 auto
    margin-bottom: 80px

  &__button
    margin-bottom: 35px
    display: block

  &__cards
    display: flex
    justify-content: space-between

  &__card
    position: relative
    max-width: 270px
    min-height: 589px
    padding: 50px 40px

    &-rate
      font-weight: 700
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.1px
      text-align: center
      color: $dark
      margin-bottom: 35px

    &-description
      margin: 0 auto
      max-width: 160px
      font-weight: 700
      font-size: 16px
      line-height: 24px
      text-align: center
      letter-spacing: 0.1px
      color: $grey
      margin-bottom: 35px

    &-value
      font-weight: bold
      font-size: 40px
      line-height: 57px
      letter-spacing: 0.2px
      color: $blue
      text-align: center

    &-subscription
      font-weight: bold
      font-size: 16px
      line-height: 24px
      letter-spacing: 0.1px
      color: $light-blue
      text-align: center
      margin-bottom: 45px

    &-item
      display: flex
      align-items: center
      margin-bottom: 15px

    &-cheked
      margin-right: 10px

    &-features
      font-weight: 600
      font-size: 14px
      line-height: 24px
      letter-spacing: 0.2px
      color: $dark
      max-width: 205px

    &-chevron
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      width: 90px
      height: 90px
      border-radius: 50%
      background-color: $orange
      font-weight: bold
      font-size: 24px
      line-height: 32px
      text-align: center
      letter-spacing: 0.1px
      color: $white
      right: 17px
      top: -26px







