.strategy
    background-color: $white
    &__title
        max-width: 445px
        padding-top: 160px
        margin: 0 auto 10px auto
    &__description
        max-width: 470px
        margin: 0 auto 80px auto
    &__cards
        display: flex
        align-items: center
        justify-content: space-between
        padding-bottom: 100px
    &__card
        padding: 30px 40px
        width: 303px
        text-align: center
        background-color: $bg-light
        &_blue
            background-color: $blue
        &-img
            text-align: center
            margin-bottom: 10px
        &-text
            font-weight: 700
            font-size: 16px
            line-height: 24px
            letter-spacing: 0.1px
            color: $dark
            &_white
                color: $white
